* {
    box-sizing: border-box;

}

body {
    margin: 0;
}

.main-header {
    background-color: lightgoldenrodyellow;
}

.images-gallery-container {
    background-color: lightpink;
    margin: 20px auto;
    width: 90vw;
    padding: 15px 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

}

img {
    width: 100%;
    cursor: pointer;
}

.canvas-container {
    background-color: lightblue;
    margin: 20px auto;
    width: 90vw;
    height: 80vh;
    padding: 15px 20px;
}

.text-editor {
    margin: 10px;
}


canvas {
    background-color: rgb(63, 111, 128);
    display: block;
    margin: auto;
    outline: 1px solid black;
}