.about-container {

    padding-block: 34px 64px;
    background-color: var(--clr2);
}


.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.monica-img {
    width: 157px;
    border-radius: 50%;
    margin-block-end: 40px;
}

.about-headline {
    font-family: Montserrat-Bold;
    font-size: 1.5625em;
    letter-spacing: -0.02em;
    margin-bottom: 0.45em;
    line-height: 0.84em;
}

.about-par {
    font-size: 1.25em;
    max-width: 530px;
}

.social-links {
    display: flex;
    justify-content: center;
}


.social-links a {
    display: flex;
    width: 39px;
    height: 39px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    font-size: 1.5625em;
    background-color: var(--clr0);
    color: var(--clr2);
    text-decoration: none;
}

.social-links li {
    margin-inline-end: 10px;
}


@media (min-width:780px) {
    .about-container {
        padding: 78px 155px 167px;
    }

    .about {
        text-align: left;
        flex-direction: row;
    }

    .monica-img {
        width: 322px;
        margin-inline-end: 40px;
        margin-block-end: 0
    }

    .social-links {
        display: flex;
        justify-content: start;
    }
}