.meme-section {
    flex-grow: 1;
}

.canvas-section {
    padding: 20px 12px;
    background-color: var(--clr1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    min-height: 300px;
    min-width: 300px;
}


.text-editor {
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    gap: 25px;
}

.placeholder-line {
    width: 300px;
    border-radius: 12px;
    height: 60px;
    border: none;
    text-align: center;
    font-size: 1.25em;
    font-family: inherit;
}

.text-editor ::placeholder {
    color: var(--clr4);
}

.line-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.line-content-btns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.move-line-up img,
.move-line-down img {
    width: 18px;
}

.line-style-container {
    width: 100%;
}

.line-style {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
    justify-items: center;
    align-items: center;
    /* justify-content: space-between; */

}

.design-btn {
    width: 40px;
    height: 40px;
    background-color: var(--clr2);
    border-radius: 12px;
    border: none;
    padding: 7px;
}

.font-family {
    grid-column: 1/4;
    width: 100%;
    height: 50px;
    background-color: var(--clr2);
    border-radius: 12px;
    border: none;
    padding: 7px;
    font-size: 1.5em;
    font-family: inherit;
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ariel {
    font-family: Arial, Helvetica, sans-serif;
}

.cambria {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.serif {
    font-family: serif;
}

.san-serif {
    font-family: sans-serif;
}

.stroke-change,
.color-change {
    opacity: 0;
    cursor: pointer;
}

.color-change-img,
.stroke-change-img {
    position: absolute;
}

.output-btn {
    background-color: var(--clr0);
    color: var(--clr2);
    width: 120px;
    height: 60px;
    border-radius: 12px;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.output-btn-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 25px;

}

.download-btn {
    grid-column: 1;
}

.share-btn {
    grid-column: 3;
}

canvas {
    background-color: var(--clr1);
    display: block;
    margin: 0 auto;
    outline: 2px var(--clr4) solid;
}





@media (min-width:980px) {

    .canvas-section {
        flex-direction: row;
        gap: 50px;
    }

    .canvas-container {
        min-height: 300px;
        min-width: 300px;
        max-width: 500px;
        max-height: 500px;
        width: 35vw;
        height: 35vw;
    }


    .placeholder-line {
        width: 373px;
    }

    .design-btn {
        width: 60px;
        height: 60px;
        padding: 10px;
    }

    .move-line-up img,
    .move-line-down img {
        width: 25px;
    }

    .line-style {
        width: 100%;
    }

}