footer {

    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--clr0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 207px;
    margin-bottom: 0;
}

.footer-par {
    color: var(--clr2);
    font-family: Montserrat-Thin;
    font-size: 1.1875em;
}

footer .logo {
    margin-bottom: 1em;

}