:root {
    /* pallete */
    /* header & footer background color */
    --clr0: #ff7f00;
    /* gallery & meme area background color */
    --clr1: #e3e3e3;
    /* header color */
    --clr2: #ffffff;
    /* header hover & keword color */
    --clr3: #040a2c;
    /* intrudaction color */
    --clr4: #000000;

}